<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Analytics Summary</h5>
    </div>
    <div class="card-body">
        <canvas id="line-chart"></canvas>
    </div>

    <div hidden>
        <div id="orders_per_month">{{orders_per_month}}</div>
    </div>    
</div>

<script>
    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    const orders_per_moth = document.getElementById('orders_per_month').textContent.split(',').map(Number);
    
    new Chart("line-chart", {
        type: 'line',
        data: {
            labels: months,
            datasets: [{
                label: 'Orders per month',
                data: orders_per_moth,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

</script>