<div class="category">
    <h1 style="padding: 20px;">Categories</h1>
    <div class="category-container">
        {{#each categories}}
        <div class="category-item">
            <a href="{{#ifCond CatID 10}}/products{{else}}/products?category={{CatID}}{{/ifCond}}">
                <img src="images/categories/{{this.CatName}}.png" alt="{{this.CatName}}" class="rounded-circle">
            </a>
        </div>
        {{/each}}
    </div>
</div>
