<div class="category-container">
    {{#each categories}}
        <div class="category-item">
            <img src="images/categories/{{this.CatName}}.png" alt="{{this.CatName}}" class="rounded-circle">
            <p>{{this.CatName}}</p>
        </div>
    {{/each}}
</div>