<footer class="mt-4" style="background-color: #4D77FF;">
    <div class="col">
        <div class="row" style="padding-top: 80px;">
            <div class="col-1"></div>
            <div class="col-4 text-light">
                Lorem ipsum dolor amet, consectetur adipiscing elit. 
                Eget nisl nunc quam ac sed turpis volutpat. 
                Cursus sed massa non nisi, placerat.
            </div>
            <div class="col-3"></div>
            <div class="col-4">
                <div class="text-light" style="font-size: 24px;">Reach us</div>
                <div class="row" id="contact_us">
                    <div class="col-1">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2611 8.47622V5.59896H3.15775V8.47565L12.7094 13.9108L22.2611 8.47622ZM22.2611 11.1767L12.7094 16.6113L3.15775 11.1762V22.5065H22.2611V11.1767ZM3.15775 3.18359H22.2611C23.4334 3.18359 24.3837 4.26499 24.3837 5.59896V22.5065C24.3837 23.8405 23.4334 24.9219 22.2611 24.9219H3.15775C1.98547 24.9219 1.03516 23.8405 1.03516 22.5065V5.59896C1.03516 4.26499 1.98547 3.18359 3.15775 3.18359Z" fill="#B5CADF"/>
                        </svg>
                    </div>
                    <div class="col-8 text-light">fitstore.@gmail.com</div>
                </div>
                <div class="row" id="contact_us">
                    <div class="col-1">
                        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7787 6.2072C11.5065 7.01396 11.2757 7.92793 10.6322 8.79515C10.4796 9.00076 10.3038 9.20334 10.0914 9.42658C9.98941 9.53372 9.90991 9.61431 9.74363 9.78075C9.36599 10.1588 9.04854 10.4764 8.79125 10.7337C8.66648 10.8584 9.51832 12.5606 11.1715 14.2154C12.8238 15.8693 14.5259 16.7217 14.6512 16.5963L15.603 15.6441C16.1271 15.1195 16.4046 14.8663 16.786 14.6161C17.5789 14.0959 18.4437 13.9546 19.1731 14.6068C21.5546 16.3103 22.9023 17.3557 23.5626 18.0417C24.8503 19.3798 24.6816 21.4394 23.5699 22.6144C23.1844 23.0219 22.6956 23.5109 22.1183 24.0675C18.6262 27.5615 11.2562 25.4352 5.6079 19.7813C-0.0416703 14.1262 -2.16688 6.75552 1.31792 3.26886C1.94354 2.6334 2.14981 2.42724 2.75911 1.82687C3.89351 0.709099 6.04821 0.534079 7.35803 1.82798C8.04701 2.50857 9.14541 3.92184 10.7787 6.2072ZM17.3587 17.4004L16.4068 18.3529C14.7888 19.9718 12.0332 18.5918 9.41554 15.9716C6.79609 13.3496 5.41764 10.595 7.03623 8.97656C7.29317 8.71964 7.61033 8.40231 7.98768 8.02459C8.13993 7.87219 8.20957 7.8016 8.29317 7.71374C8.40706 7.59404 8.50065 7.48891 8.57558 7.39588C7.12812 5.37959 6.14416 4.1197 5.61372 3.59571C5.33978 3.3251 4.72637 3.37493 4.50118 3.59682C3.90058 4.18861 3.70316 4.38593 3.08006 5.01877C0.838997 7.26107 2.55461 13.2112 7.36385 18.0252C12.1716 22.8376 18.1208 24.5541 20.3789 22.295C20.9473 21.7468 21.4104 21.2834 21.7668 20.9067C22.0244 20.6344 22.0705 20.0727 21.7742 19.7648C21.2806 19.252 20.0724 18.31 17.9862 16.8118C17.8341 16.9342 17.6472 17.1117 17.3587 17.4004Z" fill="#B5CADF"/>
                        </svg> 
                    </div>
                    <div class="col-8 text-light">+87 98765 43210</div>
                </div>
                <div class="row" id="contact_us">
                    <div class="col-1">
                        <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48221 14.4952H-1V12.0793H1.48221C2.03925 7.04028 6.04028 3.03925 11.0793 2.48221V0H13.4952V2.48221C18.5342 3.03925 22.5352 7.04028 23.0923 12.0793H25.5745V14.4952H23.0923C22.5352 19.5342 18.5342 23.5352 13.4952 24.0923V26.5745H11.0793V24.0923C6.04028 23.5352 2.03925 19.5342 1.48221 14.4952ZM12.2872 4.83172C7.61738 4.83172 3.83172 8.61738 3.83172 13.2872C3.83172 17.9571 7.61738 21.7427 12.2872 21.7427C16.9571 21.7427 20.7427 17.9571 20.7427 13.2872C20.7427 8.61738 16.9571 4.83172 12.2872 4.83172ZM12.2872 8.45551C14.9557 8.45551 17.119 10.6187 17.119 13.2872C17.119 15.9557 14.9557 18.119 12.2872 18.119C9.61875 18.119 7.45551 15.9557 7.45551 13.2872C7.45551 10.6187 9.61875 8.45551 12.2872 8.45551ZM12.2872 10.8714C10.953 10.8714 9.87137 11.953 9.87137 13.2872C9.87137 14.6215 10.953 15.7031 12.2872 15.7031C13.6215 15.7031 14.7031 14.6215 14.7031 13.2872C14.7031 11.953 13.6215 10.8714 12.2872 10.8714Z" fill="#B5CADF"/>
                        </svg>
                    </div>
                    <div class="col-8 text-light">227 Nguyen Van Cu, Phuong 4, District 5, Ho Chi Minh city, Viet Nam</div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-1"></div>
            <div class="col-4 text-light pb-5" style="padding-top: 80px;">
                © 2023 FitStore
            </div>
            
        </div>
    </div>
</footer>