<header>
    <nav class="navbar navbar-expand-lg navbar-wrap">
        <div class="container">
            <a href="/landing" class="navbar-brand">FitStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 me-5">
                    <input type="search" id="search_product" class="form-control" placeholder="Search Product" />
                </ul>
                <div class="dropdown">
                    <button class="circle-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-user fa-lg" style="color: #052b40;"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="/profile">View profile</a></li>
                    <li><a class="dropdown-item" href="/logout" style="color: #E44343;">
                        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #E44343;"></i>
                        Log out
                    </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>