<h1 class="suggestion-title">Suggestion</h1>
<div class="suggestion">
    {{#each products}}
        <div class="card">
            <img src="{{this.Image_Src}}" alt="{{this.ProName}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{this.ProName}}</h5>
                <p class="card-text">{{this.Price}} VND</p>
            </div>
        </div>
    {{/each}}
</div>