<!DOCTYPE html>
<html>
<head>
    
    {{> header }}
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">

</head>
<body class="body">
    <div class="container-md py-5">
        <div class="row text-center mt-2 mb-4 text-dark fs-3">
            <b>FitStore</b>
        </div>
        <div id="login" class="row">
            <div class="col-12">
                <form id="check-login" action="/login" method="POST" enctype="application/json">
                    <div class="row px-4">
                        <div class="col-12">
                            <div style= "font-size:15px" class="row text mt-4 mb-2 px-3">
                                WELCOME BACK
                            </div>
                            <div style= "font-size:22px" class="row text mt-1 mb-2">
                                <b>Sign in to your Account</b>
                            </div>
                            <div class="row form-group px-2">
                                {{!-- <label class="px-0 pb-2" for="exampleInputEmail1"><b>Email address</b></label> --}}
                                <input type="email" name="username" class="form-control mt-3 mb-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                            </div>
                            <div class="row form-group px-2">
                                {{!-- <label class="px-0 pb-2" for="exampleInputPassword1"><b>Password</b></label> --}}
                                <input type="password" name="password" class="form-control mt-3 mb-3" id="exampleInputPassword1" placeholder="Password" required>
                            </div>
                            {{!-- <input type="email" id="email" class="form-control mt-3 mb-1" placeholder="Input your email" name="username" required autofocus> --}}
                            {{!-- <input type="password" id="password" class="form-control mt-3 mb-3" placeholder="Input your password" name="user_password" required autofocus> --}}
                            <div id="message" style=" display:none; font-size:14px" class="row">
                                <div class="text-danger">
                                    Invalid email or password
                                </div>
                            </div>
                            <div class="row">
                                <p>
                                    <a class="link-opacity-100 link-dark" href ="/forgot_pass" style="font-size: small;">Forgot Password?</a>
                                </p>
                            </div>
                            <div class="row">
                                <div class="text-danger">
                                    {{message}}
                                </div>
                            </div>
                            <div class="text-center row mx-1">
                                <button type="submit" class="btn btn-dark" id="continue-login">LOGIN</button>
                            </div>
                            <div class="row mt-5"></div>
                            <div class="text-center mt-5 row">
                                <p>
                                    New user? <a class="link-opacity-100 link-dark" href ="/register">SIGN UP HERE</a>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- <div class="checkbox row">
                        <label>
                            <input class="mx-4" type="checkbox" value="remember-me">
                            Remember me
                        </label>
                    </div> -->
                    
                    
                    
                    
                </form>
            </div>
            
        </div>
        
    </div>
</body>
</html>