<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> css }}
    <title>21127239</title>
    {{!-- <link rel="stylesheet" href="/landingpage.css"/> --}}
</head>
<body>
    <div class="container-md py-5">
        <div class="row">
            Admin page
        </div>
        
        
        <!-- <div class="row my-1 px-1">
            3333
        </div>
        <div class="row my-1 px-1">
            <div class="col-12 px-0">
                11111
            </div>
        </div> -->
    </div>
    
</body>
</html>