<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Record - FitUS</title>
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- custom CSS -->
    <link href="styles/main_page.css" rel="stylesheet">
    
    <!-- icon -->
    <script src="https://kit.fontawesome.com/9dfff9b2c9.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
</head>
<body>
    <!-- header/nav bar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-wrap">
            <div class="container">
                <a href="/mainpage" class="navbar-brand">FitStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 me-5">
                        <li class="nav-item nav-item-space">
                            <a href="/mainpage" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item nav-item-space">
                            <a href="/healthrecord" class="nav-link">Health Record</a>
                        </li>
                        <li class="nav-item nav-item-space">
                            <a href="/bmi" class="nav-link">BMI</a>
                        </li>
                        <li class="nav-item nav-item-space">
                            <a href="/health_monitoring" class="nav-link">Health Monitoring</a>
                        </li>
                        <li class="nav-item nav-item-space">
                            <a href="/foodportion" class="nav-link">Food Portion</a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <button class="circle-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user fa-lg" style="color: #052b40;"></i>
                        </button>
                          <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="/profile">View profile</a></li>
                            <li><a class="dropdown-item" href="/edit_profile">Edit profile</a></li>
                            <li><a class="dropdown-item" href="/logout" style="color: #E44343;">
                                <i class="fa-solid fa-arrow-right-from-bracket" style="color: #E44343;"></i>
                                Log out
                            </a></li>
                          </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- tool bar -->
    <section class="tool-bar">
        <div class="container my-4 tool-bar-wrap">
            <div class="d-flex align-items-center p-3">
                <div class="select-wrap me-4">
                    <select name="" id="timeSelect" class="form-select" onchange="changeRecords(); sortRecords();">
                    </select> 
                </div>
                <div class="select-wrap me-4">
                    <select name="" id="sortSelect" class="form-select" onchange="sortRecords()">
                        <option value="latest">Latest</option>
                        <option value="oldest">Oldest</option>
                    </select> 
                </div>
                <div class="ms-auto">
                    <button class="add-btn px-3 py-2">
                        <div class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addForm">
                            <span class="me-2"><i class="fa-solid fa-circle-plus fa-lg" style="color: #ffffff; vertical-align: middle;"></i></span>
                            <span><h4>Add new record</h4></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- add form -->
    <div class="modal fade" id="addForm" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="modalLabel">Let's add a new health record!</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row add-form-validate">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="addHeight" name="height" placeholder="Height">
                                    <label for="addHeight">Height</label>
                                </div>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="addWeight" name="weight" placeholder="Weight">
                                    <label for="addWeight">Weight</label>
                                </div>
                                <span class="input-group-text">kg</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="addSugar" name="sugar" placeholder="Blood sugar">
                                    <label for="addSugar">Blood sugar</label>
                                </div>
                                <span class="input-group-text">mg/dL</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="addBPM" name="bpm" placeholder="Heart rate">
                                    <label for="addBPM">Heart rate</label>
                                </div>
                                <span class="input-group-text">bpm</span>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="mb-4">
                                <label for="addBloodPressure" class="form-label">Blood pressure</label>
                                <div class="input-group" id="addBloodPressure">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="addSystolic" name="systolic" placeholder="Systolic">
                                        <label for="addSystolic">Systolic</label>
                                    </div>
                                    <span class="input-group-text">/</span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="addDiastolic" name="diastolic" placeholder="Diastolic">
                                        <label for="addDiastolic">Diastolic</label>
                                    </div>
                                    <span class="input-group-text">mmHg</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="cancle-btn p-2 me-3" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="confirm-btn p-2">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- content -->
    <section class="main mb-4">
        <div class="container content-wrap">
            <div class="row">
                <!-- OVERVIEW -->
                <div class="col-5">
                    <div class="overview-wrap mx-3 my-4">
                        <div class="d-flex flex-column align-items-center p-4 text-center">
                            <h2>Overview</h2>
                            <h1 id="totalRecords">99</h1>
                            <h5>is the total number of health records you have made this month</h5>
                        </div>
                    </div>
                </div>
                <!-- RECORDS -->
                <div class="col-7">
                    <div class="accordion mx-3 my-4" id="healthRecords">
                        <div class="accordion-item">
                            <div class="accordion-header">
                              <div class="d-flex">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h3>Record on 31/07/2023</h3>
                                </button>
                                <button class="tool-btn" type="button" data-bs-toggle="modal" data-bs-target="#updateForm">
                                    <i class="fa-solid fa-pen fa-xl" style="color: #052b40;"></i>
                                </button>
                                <button class="tool-btn" type="button" data-bs-toggle="modal" data-bs-target="#deletePrompt">
                                    <i class="fa-solid fa-trash fa-xl" style="color: #052b40;"></i>
                                </button>
                              </div>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#healthRecords">
                              <div class="accordion-body">
                                <p><strong>Height:</strong> 175cm</p>
                                <p><strong>Weight:</strong> 75kg</p>
                                <p><strong>Blood sugar:</strong> 123mg/dL</p>
                                <p><strong>Heart rate:</strong> 100bpm</p>
                                <p><strong>Blood pressure:</strong> 140/80mmHg</p>
                              </div>
                            </div>
                        </div>                                             
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- update form -->
    <div class="modal fade" id="updateForm" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="modalLabel">Update your record</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row update-form-validate">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="updateHeight" name="height" placeholder="Height">
                                    <label for="updateHeight">Height</label>
                                </div>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="updateWeight" name="weight" placeholder="Weight">
                                    <label for="updateWeight">Weight</label>
                                </div>
                                <span class="input-group-text">kg</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="updateSugar" name="sugar" placeholder="Blood sugar">
                                    <label for="updateSugar">Blood sugar</label>
                                </div>
                                <span class="input-group-text">mg/dL</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="updateBPM" name="bpm" placeholder="Heart rate">
                                    <label for="updateBPM">Heart rate</label>
                                </div>
                                <span class="input-group-text">bpm</span>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="mb-4">
                                <label for="updateBloodPressure" class="form-label">Blood pressure</label>
                                <div class="input-group" id="updateBloodPressure">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="updateSystolic" name="systolic" placeholder="Systolic">
                                        <label for="updateSystolic">Systolic</label>
                                    </div>
                                    <span class="input-group-text">/</span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="updateDiastolic" name="systolic" placeholder="Diastolic">
                                        <label for="updateDiastolic">Diastolic</label>
                                    </div>
                                    <span class="input-group-text">mmHg</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="cancle-btn p-2 me-3" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="confirm-btn p-2">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- delete prompt -->
    <div class="modal fade" id="deletePrompt" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="modalLabel">Do you want to delete this record?</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row justify-content-end">
                        <button type="button" class="cancle-btn p-2 me-3" data-bs-dismiss="modal">Cancel</button>
                        <button class="confirm-btn p-2" id="confirmDeleteBtn">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./scripts/healthrecord.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>