<!DOCTYPE html>
<html>
<head>
    
    {{> header }}
    <title>Register</title>
    <link rel="stylesheet" href="styles/register.css">

</head>
    <body class="bg-image">
        <div>
            <div class="text-center mt-5 mb-4 text-dark fs-3">
                <b>FitStore</b>
            </div>
            <!-- <div class="d-flex flex-column">
                <div class="col-mt " style="width: 460px;
                height: 560px; 
                border-color: black;
                border-style: solid;">
                </div>
            </div> -->
            <div id="register">
                <form id="check-register">
                    <div class="row px-4">
                        <div style= "font-size:22px" class="text mt-4 mb-2">
                            <b>Sign up to your Account</b>
                        </div>
                    </div>
                    
                    <!-- <label class="sr-only">Input your email</label> -->
                    <div class="row mx-4">
                        <input type="text" id="username" class="form-control mt-3 mb-2" placeholder="Input your username" name="username" required>
                        <input type="email" id="email" class="form-control mt-3 mb-2" placeholder="Input your email" name="email" required>
                        <input type="password" id="password_1" class="form-control mt-3 mb-2" placeholder="Input your password" name="user_password" required>
                        <div id="message" style="display: none; font-size:14px">
                            <p style="margin-bottom: 0px;"><b>Password must contain the following:</b></p>
                            <div  style="margin-bottom: 0px;">
                                <div id="number" class="invalid text-danger">Having <b>number</b></div>
                            </div>
                            <div  style="margin-bottom: 0px;">
                                <div id="length" class="invalid text-danger">Having minimum <b>8 characters</b></div>
                            </div>
                        </div>
                        <input type="password" id="password_2" class="form-control mt-3 mb-3" placeholder="Re-input your password" name="confirm" required>
                        <div id="message_email" style=" display:none; font-size:14px">
                            <div class="text-danger">
                                Email is already used!
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <p>
                            <a class="link-opacity-100 link-dark mx-4" href ="./login.html">Forgot Password?</a>
                        </p>
                    </div> -->
                    <div class="text-center row mx-4">
                        <button class="button btn btn-dark btn-block " type="submit" disabled> CONTINUE</button>
                    </div>
                    {{!-- <div class="row mt-5"></div> --}}
                    {{!-- <div class="row mt-3" id="login_to"></div> --}}
                    <!-- <div class="row mt-5"></div> -->
                    <div class="text-center row" id="login_to">
                        <p>
                            Having account? <a class="link-opacity-100 link-dark" href ="/login">SIGN IN HERE</a>
                        </p>
                    </div>
                    
                </form>
            </div>
            
        </div>
        <!-- <script type="text/javascript" src="./register.js"></script> -->
        <script type="text/javascript" src="/scripts/register.js"></script>
    </body>
</html>