body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f5f5f5;
    display: flex; /* Enables Flexbox on the body */
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    min-height: 100vh; /* Ensures the body takes up full height of the viewport */
    margin: 0;
}

.main-section {
    width: 100%;
    max-width: 900px; /* Set a maximum width for the section */
    background-color: #ffffff; /* Optional: Add a background color */
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    padding: 20px;
}

.hedding {
    font-size: 20px;
    color: #ab8181;
}

.left-side-product-box img {
    width: 100%;
}

.left-side-product-box .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}

.right-side-pro-detail span {
    font-size: 15px;
}

.right-side-pro-detail p {
    font-size: 25px;
    color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
    color: #E45641;
}

.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}

.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}

@media (min-width:360px) and (max-width:640px) {
    .pro-box-section .pro-box img {
        height: auto;
    }
}


.navbar-wrap{
    background-color: #4D77FF;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    transition: all 0.4s;
}

.navbar-brand:hover{
    color:#052B40;
    transition: all 0.4s;
}

.nav-item-space{
    margin: 0 10px;
}

.nav-link{
    font-size: 0.825rem;
    font-weight: 600;
    color: #FFFFFF;
    transition: all 0.4s;
}

.nav-link:hover{
    color:#052B40;
    transition: all 0.4s;
}

.log-in-btn{
    padding: 5px 20px;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
}

.circle-btn{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #FFFFFF;
}